# Ignore everything
*

# But not these files...
!*.c
!*.h
!*.asm
!.gitignore
!README.md
!*.png

# ...even if they are in subdirectories
!*/

# Ignore specific files
settings.json
.DS_Store

# Ignore all files in the pdfs directory
pdfs/*